* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}
.hero {
  &__alert {
    background-color: $yellow;
    text-align: center;
    margin: 0px auto;
    p {
      color: $blue;
      font-size: 0.9em;
      font-weight: 600;
    }
  }
  &__test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding: 1em 0;
    margin: auto;
    .test__img {
      margin: 1em;
      .img_hero {
        width: 100%;
      }
    }
    .test__start {
      width: 25em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      .start__title--blue {
        @include h2title($blue, center);
      }
      img {
        margin: 0.8em;
        width: 70px;
      }
      .start__title--gray {
        @include h2title($gray, center);
      }
      .start {
        width: 24em;
        height: 2.3em;
        margin: 1em;
        border: 2px solid $blue;
        border-radius: 0.2em;
        background-color: $blue;
        h2 {
          @include h2title(white, center);
        }
      }
    }
  }
  @media (max-width: "720px") {
    * {
      font-size: smaller;
    }
    .hero {
      &__alert {
      }
      &__test {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    }
  }
  @media (max-width: "1230px") {
    
  }
}
