* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}

// <!-- Include of Section1 (hero) -->

.hero {
  &__alert {
    background-color: $yellow;
    text-align: center;
    margin: 0px auto;
    p {
      color: $blue;
      font-size: 0.9em;
      font-weight: 600;
    }
  }
  &__test {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding: 1em 0;
    margin: auto;
    .test__img {
      margin: 1em;
      text-align: center;
      .img_hero {
        width: 100%;
      }
    }
    .test__start {
      width: 32em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      .start__title--blue {
        @include h2title($blue, center);
      }
      img {
        margin: 0.8em;
        width: 70px;
      }
      .start__title--gray {
        @include h3title($gray, center);
      }
      .start {
        @include btn-start;
      }
    }
  }
  @media (max-width: "720px") {
    * {
      font-size: small;
    }
    .hero {
      &__test {
        display: flex;
        justify-content: center;
        align-items: center;
        .test__img {
          .img_hero {
            width: 80%;
            margin: auto;
          }
        }
      }
    }
  }
}

// <!-- End of Section1 (hero) -->

// <!-- Include of Section2 (indice) -->

.indice {
  h2 {
    @include h2title($blue, center);
    font-size: 2em;
    width: 80%;
    margin: auto;
  }
  .indice__cards {
    margin: 1em auto;
    width: 39%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    .card__img {
      margin: 0.8em;
      padding: 0.5em;
      width: 10em;
      text-align: center;

      .image_card {
        margin: auto;
        width: 8em;
        // height: 10.5em;
      }
      .temp {
        width: 4em;
      }
      h3 {
        @include h3title($black, center);
      }
    }
  }
}
@media (max-width: "720px") {
  * {
    font-size: 16px;
  }
  .indice {
    h2 {
      font-size: 16px;
    }
    .indice__cards {
      .card__img {
        img {
          // height: 10em;
        }
      }
    }
  }
}
@media (max-width: "320px") {
  .indice {
    zoom: 95%;
  }
}

// <!-- End of Section2 (indice) -->

// <!-- Section (404) -->

.sc404 {
  margin: 2em;
  text-align: center;
  h1 {
    font-size: 3em;
    color: skyblue;
    span {
      font-size: 2em;
    }
  }
  a {
    font-size: 3em;
    color: black;
    text-decoration: none;
    font-weight: 900;
  }
}
// <!-- End of Section (404) -->

//*********** Advice Page ****************

// <!-- Section1 (a-hero) -->
.a-hero {
  .a-hero__alert {
    @extend .hero__alert;
  }
}
// <!-- End of Section1 (a-hero) -->

// <!-- Section2 (protect) -->

.protect {
  margin: 2em 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include h2title($blue, center);
  }
  &__how {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    .figure {
      margin: 1em auto;
      text-align: center;
      width: 20em;
      &__img {
        width: 8em;
      }
      &__txt {
        @include h3title($black, center);
      }
    }
  }
  .figure {
    &__img {
      width: 8em;
    }

    &__txt {
      margin: auto;
      width: 15em;
      @include h3title($dblue, center);
    }
  }
}
@media (max-width: "320px") {
  .pretect {
    &__how {
      margin: 0px;
      .figure {
        margin: 0px;
      }
    }
  }
}

// <!-- End of Section2 (protect) -->

// <!-- Include of Section3 (information) -->

.information {
  background-color: $bluesky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  // height: 15em;
  // justify-content: center;
  padding-bottom: 1em;

  a {
    text-decoration: none;
  }
  .info {
    width: 18em;
    margin: 1em;
    &__title {
      @include h2title($blue, center);
      margin: 1em 0em;
    }
    &__txt {
      @include h3title($dblue, center);
      line-height: 2em;
    }
  }
  &__links {
    width: fit-content;
    margin: 1em;
  }
  .links__btn {
    @include btn-start;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.2em;
    width: 14em;
  }
}

// <!-- End of Section3 (information) -->

// <!-- Include of Section5 (trans) -->

.trans {
  &__title {
    @include h2title($blue, center);
  }
  &__fig {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .figure {
      margin: 1em auto;
      text-align: center;
      width: 20em;
      &__img {
        width: 8em;
      }
      &__txt {
        @include h3title($black, center);
      }
    }
  }
}

// <!-- End of Section5 (trans) -->

@media (max-width: "320px") {
  * {
    font-size: small;
  }
}
