* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}

// <!-- Include of Section1 (hero) -->

.hero {
  &__alert {
    background-color: $yellow;
    text-align: center;
    margin: 0px auto;
    p {
      color: $blue;
      font-size: 0.9em;
      font-weight: 600;
    }
  }
  &__test {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding: 1em 0;
    margin: auto;
    .test__img {
      margin: 1em;
      text-align: center;
      .img_hero {
        width: 100%;
      }
    }
    .test__start {
      width: 32em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      .start__title--blue {
        @include h2title($blue, center);
      }
      img {
        margin: 0.8em;
        width: 70px;
      }
      .start__title--gray {
        @include h3title($gray, center);
      }
      .start {
        @include btn-start;
      }
    }
  }
  @media (max-width: "720px") {
    * {
      font-size: small;
    }
    .hero {
      &__test {
        display: flex;
        justify-content: center;
        align-items: center;
        .test__img {
          .img_hero {
            width: 80%;
            margin: auto;
          }
        }
      }
    }
  }
}

// <!-- End of Section1 (hero) -->

// <!-- Include of Section2 (indice) -->

.indice {
  h2 {
    @include h2title($blue, center);
    font-size: 2em;
    width: 80%;
    margin: auto;
  }
  .indice__cards {
    margin: 1em auto;
    width: 39%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    .card__img {
      margin: 0.8em;
      padding: 0.5em;
      width: 10em;
      text-align: center;

      .image_card {
        margin: auto;
        width: 8em;
        // height: 10.5em;
      }
      .temp {
        width: 4em;
      }
      h3 {
        @include h3title($black, center);
      }
    }
  }
}
    @media (max-width: "720px") {
      * {
        font-size: 16px;
      }
      .indice {
        h2 {
          font-size: 16px;
        }
        .indice__cards {
          .card__img {
            img {
              // height: 10em;
            }
          }
        }
      }
    }
@media (max-width: "320px") {
  .indice {
    zoom: 95%;
  }
}

// <!-- End of Section2 (indice) -->

// <!-- Section3 (Recommanded) -->

// <!-- End of Section3 (Recommanded) -->

// <!-- Section (404) -->

.sc404 {
  margin: 2em;
  text-align: center;
  h1 {
    font-size: 3em;
    color: skyblue;
    span{
      font-size:2em;
    }
  }
  a{
    font-size: 3em;
    color: black;
    text-decoration: none;
    font-weight: 900;

  }
}
// <!-- End of Section (404) -->
