//noinspection SassScssResolvedByNameOnly
@mixin btn-translate($width, $height, $fSize, $margin) {
  display: flex;
  margin-left: $margin;
  width: $width;
  height: $height;
  font-size: $fSize;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0);
  border: 2px solid $blue;
  border-radius: 0.5em;
  font-weight: bold;
  color: $blue;
  padding: 0 10px;
  img {
    width: 1em;
    margin-left: 20px;
  }
}

//noinspection SassScssResolvedByNameOnly
@mixin btn-start {
  width: 24em;
  height: 2.3em;
  margin: 1em;
  border: 2px solid $blue;
  border-radius: 0.2em;
  background-color: $blue;
  h2 {
    @include h2title(white, center);
  }

}

@mixin h2title($color, $align) {
  font-size: 1.5em;
  text-align: $align;
  line-height: 1.5em;
  color: $color;
  font-weight: 700;

}

@mixin h3title($color, $align) {
  font-size: 1.1em;
  text-align: $align;
  line-height: 1.5em;
  color: $color;
  font-weight: 600;
}

// @include btn-translate(150px,50px,1.1em,3em);
