body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $bluesky;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 0.8em;
  background-color: $bluesky;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $blue;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 60%,
    from($blue),
    to($blue),
    color-stop(0.4, $bluesky)
  );
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $bluesky;
  background-image: url("../img/assets/navback.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  font-size: 2em;
  padding: 5px 1em;
  &__logo {
    margin: 0.2em;
    width: 100px;
  }
  &__menu {
    display: flex;
    align-items: center;

    .menu__links {
      margin-left: 3em;
      text-decoration: none;
      font-weight: 700;
      color: $black;
    }
    .active{
      color: $blue;
    }
    .btn__translate-ar {
      @include btn-translate(150px, 50px, 1.1em, 3em);
    }
  }
}

@media (max-width: "1010px") {
  * {
    font-size: smaller;
  }

  .navbar {
    height: 80px;
    &__logo {
      width: 90px;
    }
    &__menu {
      .menu__links {
        margin-left: 1em;
      }
      .btn__translate-ar {
        width: 100px;
        height: 42px;
        font-size: 20px;
        margin-left: 1em;
      }
    }
  }
}
@media (max-width: "512px") {
  * {
    font-size: smaller;
  }

  .navbar {
    padding: 5px;
    &__logo {
      width: 60px;
    }
    &__menu {
      a {
        margin-left: 1em;
      }
      .btn__translate-ar {
        width: 90px;
        height: 35px;
        font-size: 14px;
        margin-left: 1em;
        img {
          display: none;
        }
      }
    }
  }
}
@media (max-width: "340px") {
  * {
    zoom: 95%;
  }
  .navbar {
    padding: 5px;
    &__logo {
      width: 60px;
    }
    &__menu {
      .menu__links {
        margin-left: 0.5em;
      }
      .btn__translate-ar {
        width: 50px;

        margin-left: 0.5em;
        img {
          display: none;
        }
      }
    }
  }
}
