.prgressBar {
  margin: 0 auto;
  text-align: center;

  //#spBar {
  //  width: 600px;
  //  background-color: $blue;
  //
  //}
  //
  //#spBar::-webkit-progress-bar {
  //  background-color: $bluesky;
  //  border-radius: 2px;
  //  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  //  color: white;
  //}

  progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 1em auto;
    padding: 4px;
    border: 0 none;
    background: $blue;
    border-radius: 14px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  progress::-moz-progress-bar {
    border-radius: 12px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);

  }

  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    progress {
      height: 25px;
    }
  }

  progress::-webkit-progress-bar {
    background: transparent;
  }

  progress::-webkit-progress-value {
    border-radius: 12px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
}


.preambule {
  width: 70%;
  text-align: center;
  background-color: $blue;
  margin: .8em auto;
  padding: 1em 2.5em;
  border-radius: 1em;
  color: #FFFFFF;

  &--title {
    @include h2title(white, center);
    margin: 1em;
  }

  &--para {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6em;
    padding: 1em;
  }


  hr {
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
    border: 2.5px solid $yellow;
  }

  .start__btn {
    @include btn-start;
    width: 16em;
    background-color: $bluesky;
    color: $blue;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white;
    }
  }

  @media (max-width: " 360px ") {
    .start__btn {
      width: 10em;

    }
  }
}

.quiz {
  width: 80%;
  margin: 1em auto;

  &__start {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quiz__title {
      @include h2title($blue, center);
      margin: 1em;
    }

  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Quiz {
      height: max-content;

      .rR {
        margin: 10px auto;
        width: fit-content;
      }
    }

    .form__question {
      @include h3title($blue, center);
      margin: 2em 0;
    }

    .form__choice {
      @include btn-translate(16px, 16px, 1em, .5em);
      display: inline;
      margin: 2em 0;

    }

    input[type="number"], input[type="text"] {
      width: 15em;
      height: 2em;
      border-radius: 15px;
      border: 2px solid $blue;
      cursor: text;
      text-align: center;
    }

    input[type="radio"]:after {
      width: 16px;
      height: 16px;
      border-radius: 15px;
      top: -6px;
      left: -2px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid $blue;
    }

    input[type="radio"]:checked:after {
      width: 16px;
      height: 16px;
      border-radius: 15px;
      top: -6px;
      left: -2px;
      position: relative;
      background-color: $blue;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid $blue;
    }

    .choiceTxt {
      @include btn-translate(6em, 2em, 1em, .9em);
      display: inline;
      text-align: center;
      color: $blue;
    }


    label {
      @include h3title($black, center);
      font-size: 1em;
      margin: .5em 1.5em .5em .5em;

    }
  }


  .form_answer {
    width: 70%;
    text-align: center;
    margin: auto;

  }

  .form_btns {
    width: fit-content;
    margin: 1em auto;
    text-align: center;

    #form_back,
    #form_next,
    #form_submit {
      @include btn-start;
      color: white;
      font-weight: 600;
      width: 15em;
      cursor: pointer;

      &:hover {
        border: 2px solid $blue;

      }
    }
  }
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bluesky;
  width: 100%;
  height: 50vh;
  //
  .load {
    width: 6em;
    height: 2em;
    margin: 3em auto;

    .dots-container {
      padding: 0;
      position: relative;
      text-align: center;
      top: 50%;
      width: 100%;
    }

    .dots {
      animation: bounce 1.5s infinite linear;
      background: $blue;
      border-radius: 50%;
      display: inline-block;
      height: 20px;
      text-align: center;
      width: 20px;
    }

    .dots:nth-child(1) {
      animation-delay: .2s;
    }

    .dots:nth-child(2) {
      animation-delay: .4s;
    }

    .dots:nth-child(3) {
      animation-delay: .6s;
    }

    .dots:nth-child(4) {
      animation-delay: .8s;
    }

    .dots:nth-child(5) {
      animation-delay: 1s;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      15% {
        transform: translateY(-15px);
      }
      30% {
        transform: translateY(0);
      }
    }
  }
}

//
.showResult {
  @extend .preambule;

  &--title {
    @extend .preambule--title;
  }

  &--para {
    @extend .preambule--para;

  }


  hr {
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
    border: 2.5px solid $yellow;
  }

  .start__btn {
    @include btn-start;
    width: 16em;
    background-color: $bluesky;
    color: $blue;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white;
    }
  }
}

.hide {
  display: none;


}

.complet {

  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 $bluesky;
    }
  }
}


//noinspection CssInvalidMediaFeature
@media (max-width: "360px") {
  //* {
  //  font-size: 16px;
  //}
  .prgressBar {
    //width: 100px;
    progress {
      width: 220px;
      margin: .5em auto;
    }
  }
  #form {
    label {
      font-size: 1em;
      margin: .5em;
    }

    input[type="number"].form__choice {
      width: 6em;
    }
  }
}