.quiz {
  width: 80%;
  margin: 1em auto;

  &__start {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quiz__title {
      @include h2title($blue, center);
      margin: 1em;
    }

    .start__btn {
      @include btn-start
    }
  }

  #form {
    .form_question {
      height: 10em;

      .question {
        @include h3title($blue, left);
      }
    }


    .form_answer {
      width: 60%;
      text-align: center;
      margin: auto;

      ////////// Radio Inputs /////////

      .radio-button {
        position: relative;
        margin: 1em;
      }

      .checkbox {
        display: block;
      }

      .radio-button input {
        position: absolute;
        margin: 5px;
        padding: 0;
        visibility: hidden;
      }

      .radio-button .label-visible {
        margin-left: 2em;
        margin-bottom: 0;
      }

      .fake-radiobutton {
        position: absolute;
        display: block;
        top: 7px;
        left: 3px;
        width: 20px;
        height: 20px;
        border: 3px solid $blue;
        background-color: white;
      }

      .fake-radiobutton:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        background: $yellow;
        transform: translateX(-50%) translateY(-50%);
      }

      .fake-radiobutton {
        border-radius: 50%;
      }

      .fake-radiobutton:after {
        border-radius: 50%;
      }

      input[type="radio"]:checked + span .fake-radiobutton:after {
        display: block;
      }

      ////////
    }

    .form_btns {
      width: fit-content;
      margin: 1em auto;
      text-align: center;


      #form_back,
      #form_next {
        @include btn-start;
        color: white;
        font-weight: 600;
        width: 15em;
        cursor: pointer;
      }
    }


  }

  .hide {
    display: none;
  }
}
